<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>game stylesheet.css</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/library/skin/morpheus-default/tool.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
  </head>
  <body>
		<head>
		<link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
		</head>

	 <style>
	  
	  
	  h1 {
	  color: orange;
	  text-shadow: 1.5px 1.5px gray;
	  font-family: 'Fontdiner Swanky', cursive;
	  font-size: 48px;
	  letter-spacing: 2px;
	  }
	  
	  .header h1 {
	  color: red;
	  text-shadow: 1.5px 1.5px gray;
	  font-family: 'Fontdiner Swanky', cursive;
	  font-size: 48px;
	  letter-spacing: 2px;
	  }
	  
	  input[type=text] {
	  color: red;
	  }
	  
	  textarea {
	  font-family: "Comic Sans MS", cursive, sans-serif;
	  color: purple;
	  border: 3px solid #510000;
	  }
	  
	  body {
      background-image: url("http://images.clipartlogo.com/files/ss/thumb/113/113254948/autumn-leaves-light-seamless_small.jpg");
      background-repeat: repeat;
	  background-color: #e8ab97;
	  color: #5a2e2e;
	  font-family: 'Fontdiner Swanky', cursive;
	  letter-spacing: 2px;
	  }
	  
	  a {
	  color: red;
	  }
	  
	  a:hover {
	  color: yellow;
	  text-decoration: none;
	  }
	  
	  </style>
  </body>
</html>
